h3 Форма регистрации
br
div.col-md-4
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    div
      = f.email_field :email, :autofocus => true, :placeholder => "Email..", :class => "form-control"
    br
    div
      = f.password_field :password, :placeholder => "Пароль..", :class => "form-control"
    br
    div
      = f.password_field :password_confirmation, :placeholder => "Повторите пароль..", :class => "form-control"
    br
    div
      = f.submit "Отправить", :class=> "btn"

  = render "devise/shared/links"
