table class="table table-striped table-condensed"
  tr
    th Заголовок
    th Дата создания
    th Рейтинг
  - @articles_page.each do |articles|
    tr
      td = link_to articles.title, articles
      td = articles.created_at
      td = articles.rating
br
= will_paginate @articles_page