= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      h2 = "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      ul
        - @article.errors.full_messages.each do |message|
          li = message

  .field
    = f.text_field :title, :placeholder => "Заголовок..", :class => "form-control"
  br
  .field
    = f.text_area :text, :placeholder => "Текст новости..", :class => "form-control"
  br
  .actions = f.submit 'Сохранить', :class=> "btn"
