h3 style="text-align:center;" Все новости
div
  = link_to "Свежие новости", "/?type=1", :class => "active", :id => "fresh", :remote => true
  ' &nbsp;|
  = link_to "Лучшие новости", "/?type=2", :id => "best", :remote => true

div.well
  = render "articles/articles_orderby"