p#notice = notice

div class="thumbnail"
  div class="caption-full"
    h4 class="pull-right" = @article.user.email
    h4
      a href="#" = @article.title
      br
      div#rating_div
        | &nbsp;
        small Рейтинг новости:
        small
          '
          = @article.rating
    p
      = @article.text
    div class="bottom"
      p class="pull-right"
        = @article.created_at
        br
        - if (can? :edit, @article and @article.user_id == current_user.id)
          = link_to 'Редактировать новость', edit_article_path(@article)
          br
        - if (can? :destroy, @article and @article.user_id == current_user.id)
          = link_to 'Удалить новость', @article, :confirm => 'Вы уверены?', :method => :delete
    br
    br
    br
    div.voterating style="text-align:center;"
      - if can? :rating_articles, @article
        - if (vote_user_to_articles(@article.id))
          div
            br
            | Оцените новость:
            br
            = link_to("-1", :controller=>"articles", :action=> "rating_articles", :id => @article.id, :rating => 0, :remote => true)
            | &nbsp; ... &nbsp;
            = link_to("+1", :controller=>"articles", :action=> "rating_articles", :id => @article.id, :rating => 1, :remote => true)
br
= link_to 'На главную', root_path