h3 style="text-align:center;" Мои новости

div.well
  table class="table table-striped table-condensed"
    tr
      th Заголовок
      th Дата создания
      th Рейтинг
      th
      th
    - @articles.each do |articles|
      tr
        td = link_to articles.title, articles
        td = articles.created_at
        td = articles.rating
        - if (can? :edit, articles and articles.user_id == current_user.id)
          td = link_to 'Редактировать новость', edit_article_path(articles)
        - if (can? :destroy, articles and articles.user_id == current_user.id)
          td = link_to 'Удалить новость', articles, :confirm => 'Вы уверены?', :method => :delete