h3 Форма входа
br
div.col-md-4
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    div
      = f.email_field :email, :autofocus => true, :placeholder => "Email..", :class => "form-control"
    br
    div
      = f.password_field :password, :placeholder => "Пароль..", :class => "form-control"
    br
    - if devise_mapping.rememberable?
      div
        = f.check_box :remember_me
        = f.label :remember_me
          | &nbsp; Запомнить меня
    br
    div
      = f.submit "Войти", :class=> "btn"

  = render "devise/shared/links"
