html
  head
  title SimpleNewsline
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

  body
    nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
      div class="container"
        div class="navbar-header"
          button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"
            span class="sr-only" Toggle navigation
            span class="icon-bar"
            span class="icon-bar"
            span class="icon-bar"
          a class="navbar-brand" href="/" Newsline

        div class="collapse navbar-collapse navbar-ex1-collapse"
          ul class="nav navbar-nav"
            - if user_signed_in?
              li class="dropdown"
                a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  = current_user.email
                  b class="caret"
                ul class="dropdown-menu"
                  li = link_to 'Мои новости', user_articles_articles_path
                  li = link_to 'Добавить новость', new_article_path
                  li = link_to 'Выйти', destroy_user_session_path, :method => :delete
            - else
              li = link_to 'Войти', new_user_session_path
              li = link_to 'Зарегистрироваться', new_user_registration_path
    div.container
      = yield
